/* html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
} */

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);
}

.navbar {
  grid-column: span 24;
  grid-row: span 2;
  background-color: #1976d2;
}

.filearea {
  grid-column: span 4;
  grid-row: span 21;
  background-color: #686d76;
}

.editorarea {
  grid-column: span 20;
  grid-row: span 21;
  /* background-color: red; */
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);
}

.editorarea-filearea-closed {
  grid-column: span 24;
  grid-row: span 21;
  /* background-color: royalblue; */
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);
}

.editor {
  grid-column: span 23;
  grid-row: span 24;
  /* background-color: #794c74; */

  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);

  /* grid-column: 1 / -1;
  grid-row: 1 / -1;
  background-color: #794c74; */
}

.codeeditor {
  grid-column: span 23;
  grid-row: span 24;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);
}

.codesnapshot {
  grid-column: span 1;
  grid-row: span 24;
  background-color: #19d3da;

  /* grid-column: span 1;
  grid-row: span 21;
  background-color: #19d3da; */
}

.footermenu {
  grid-column: span 24;
  grid-row: span 1;
  background-color: #f8efd4;
}

.number {
  display: flex;
  flex-direction: column;
  background-color: saddlebrown;
  align-items: center;
  /* margin-right: 5px; */

  grid-column: span 1;
  grid-row: span 24;
}

button {
  background-color: #1976d2;
  margin: 5px;
  padding: 8px 10px;
  border: none;
}

.btn:hover {
  padding: 10px 12px;
}
